/*reset css*/
*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.wrap{
	height: 100%;
	min-width: 1000px;
	min-height: 600px;
	clear: both;
}

.wrap .left,.wrap .right{
	position: relative;
	width: 50%;
	height: 100%;
	float: left;
}

.wrap .left{
	background-color: #ffe0d1;
}

.wrap .left .myanimal{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 230px;
	margin-top: -115px;
	margin-left: -115px;
}

/*
* 头部样式
*/
.wrap .left .myanimal .header{
	position: relative;
	height: 130px;
	width: 180px;
	background-color: #ffffff;
	border:5px solid #453333;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	z-index: 109;

	-webkit-transform:rotateZ(2deg);
}


.wrap .myanimal .header .eye{
	position: relative;
	width: 180px;
	height: 45px;
	margin-top: 50px;
	z-index: 99;
}

.myanimal .header .left-eye,
.myanimal .header .right-eye{
	position: absolute;
	width: 30px;
	height: 45px;
	background-color: #453333;
	border-radius: 50%;
} 

.myanimal .header .left-eye{
	top: 0;
	left: 15px;

	-webkit-transform:rotateZ(10deg);
}

.myanimal .header .right-eye{
	top: 0;
	right: 15px;

	-webkit-transform:rotateZ(-10deg);
}

/*眼珠样式*/
.myanimal .header .eye i
{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 10px;
	left: 10px;
	background-color: #fff;
	border-radius: 50%;
}

/*
脸上红圈
*/
.myanimal .header .face{
	position: relative;
	width: 180px;
	height: 40px;
	margin-top: -20px;
	z-index: 89;
}

.myanimal .header .face i{
	position: absolute;
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #fe8096;
}

.myanimal .header .face .left-fc{
	top: 0;
	left: 5px;
}

.myanimal .header .face .right-fc{
	top: 0;
	right: 5px;
}

/*
* 鼻子样式
*/
.myanimal .header .nose{
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin-left: -15px;
	width: 30px;
	height: 30px;
}

.myanimal .header .nose div{
	position: absolute;
	width: 25px;
	height: 7px;
	border-radius: 10px;
	background-color: #453333;
}

.myanimal .header .nose .nose-left{
	top: 10px;
	left: -3px;

	-webkit-transform:rotateZ(30deg);
}

.myanimal .header .nose .nose-right{
	top: 10px;
	right: -3px;

	-webkit-transform:rotateZ(-30deg);
}

.myanimal .header .nose .nose-bottom{
	width: 10px;
	bottom: 2px;
	left: 10px;

	-webkit-transform:rotateZ(90deg);
}

/*
* 耳朵
*/

.wrap .myanimal  .ear{
	position: absolute;
	top: -35px;
	left: 10px;
	width: 200px;
	height: 50px;
	z-index: 9;
	-webkit-transform:rotateZ(2deg);
}

.myanimal .ear .left-ear{
	position: absolute;
	top: 0;
	left: 30px;
	width: 30px;
	height: 60px;
	border: 5px solid #453333;
	border-radius: 45%;
	background-color: #fff;

	-webkit-transform:rotateZ(20deg);
}

.myanimal .ear i{
	position: absolute;
	left: 5px;
	bottom: 10px;
	display: block;
	width: 20px;
	height: 30px;

	border-radius: 45%;
	background-color: #453333;
}

.myanimal .ear .right-ear{
	position: absolute;
	top: 0;
	right: 30px;
	width: 35px;
	height: 60px;
	border: 5px solid #453333;
	border-radius: 45%;
	background-color: #fff;

	-webkit-transform:rotateZ(20deg);
}

/*
* 蝴蝶结
*/
.wrap .myanimal .head-decs{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 150px;
	z-index: 209;
	
	-webkit-transform:rotateZ(2deg);
}
.myanimal .head-decs .follower{
	position: absolute;
	top: 0;
	left: 20px;
	width: 100px;
	height: 40px;
	z-index: 199;
}

.myanimal .head-decs .follower .left-f{
	position: absolute;
	width: 30px;
	height: 30px;

	border-top-left-radius: 20px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 15px;
	border: 3px solid #453333;
	background-color: #78e6fd;
}

.myanimal .head-decs .follower .middle-f{
	position: absolute;
	width: 15px;
	height: 15px;
	top: 10px;
	left: 25px;

	border-top-left-radius: 20px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 15px;
	border: 3px solid #453333;
	background-color: #78e6fd;
}

.myanimal .head-decs .follower .right-f{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	left: 35px;

	border-top-left-radius: 20px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 15px;
	border: 3px solid #453333;
	background-color: #78e6fd;
}

/*小横线*/
.myanimal .head-decs i{
	position: absolute;
	display: block;
	width: 10px;
	height: 7px;
	border-radius: 5px;
	background-color: #453333;
}

.myanimal .head-decs .follower .left-i{
	top: 15px;
	left: 18px;
}

.myanimal .head-decs .follower .right-i{
	top: 15px;
	left: 36px;
}

/*hair style*/
.myanimal .head-decs .hair .l-hair1{
	top: 75px;
	left: -5px;
}

.myanimal .head-decs .hair .l-hair2{
	top: 85px;
	left: -8px;
}

.myanimal .head-decs .hair .r-hair1{
	top: 75px;
	right: 4px;
}

.myanimal .head-decs .hair .r-hair2{
	top: 85px;
	right: 1px;
}

/*
* body part
*/
.myanimal .mybody{
	position: relative;
	width: 200px;
	height: 60px;
	margin-top: -5px;
}

.myanimal .mybody .main-body{
	position: absolute;
	width: 110px;
	height: 70px;
	top: -30px;
	left: 40px;
	border: 5px solid #453333;
	background-color: #edad56;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 58;
}

.myanimal .mybody .main-body i{
	position: absolute;
	display: block;
	width: 5px;
	height: 10px;
	background-color: #453333;
	border-radius: 3px;
}

.myanimal .mybody .main-body .i-one{
	top: 50px;
	left: 8px;
}

.myanimal .mybody .main-body .i-two{
	top: 53px;
	left: 33px;
}

.myanimal .mybody .main-body .i-three{
	top: 54px;
	left: 63px;
}

.myanimal .mybody .main-body .i-four{
	top: 53px;
	left: 90px;
	-webkit-transform: rotateZ(-10deg);
}

.myanimal .mybody .main-body span{
	position: absolute;
	top: 50px;
	left: 70px;
	color: #453333;
	font-size: 18px;
	font-weight: 900;
}

.myanimal .mybody .left-hand{
	position: absolute;
	width: 20px;
	height: 45px;
	top: -20px;
	left: 38px;
	background-color: #fff;
	border: 5px solid #453333;
	border-radius: 50%;
	z-index: 49;

	-webkit-transform: rotateZ(40deg);
}

.myanimal .mybody .right-hand{
	position: absolute;
	width: 20px;
	height: 45px;
	top: -20px;
	right: 30px;
	background-color: #fff;
	border: 5px solid #453333;
	border-radius: 50%;
	z-index: 59;

	-webkit-transform: rotateZ(-40deg);
}

.myanimal .mybody .left-leg{
	position: absolute;
	width: 40px;
	height: 45px;
	top: 5px;
	left: 50px;
	background-color: #fff;
	border: 5px solid #453333;
	border-radius: 20px;
	z-index: 9;
}

.myanimal .mybody .right-leg{
	position: absolute;
	width: 50px;
	height: 55px;
	top: -3px;
	right: 50px;
	background-color: #fff;
	border: 5px solid #453333;
	border-radius: 23px;
	z-index: 9;
}


/*
* 动画
*/
.ear-animation{
	transform-origin:15px 60px;
	-webkit-animation:ear-animation ease-in-out infinite 5s alternate;
}

.eye-animation{
	-webkit-animation: eye-animation ease-in-out infinite 5s alternate;
}

@-webkit-keyframes ear-animation{
	0% {
		-webkit-transform:rotateZ(2deg);
	}
	25% {
		-webkit-transform:rotateZ(20deg);
	}
	75% {
		-webkit-transform:rotateZ(40deg);
	}
	100% {
		-webkit-transform:rotateZ(2deg);
	}
}

@-webkit-keyframes eye-animation{
	50%{
		transform:translateY(12px) translateX(5px);
	}
}